<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<ScrollView scrollBarIndicatorVisible="false">
    <FlexboxLayout
        flexDirection="column"
        iosOverflowSafeArea="false"
        alignContent="space-around">
        <StackLayout
            iosOverflowSafeArea="false"
            class="dashboard-section">
            <Label text="Carousels"></Label>
            <Carousel [carouselContent]="carouselContentItems"></Carousel>
        </StackLayout>
            <StackLayout
            iosOverflowSafeArea="false"
            class="dashboard-section">
            <Label text="Carousels"></Label>
            <Carousel [carouselContent]="carouselContentItems"></Carousel>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>
