<ActionBar>
    <Label text="Home"></Label>
</ActionBar>

<ScrollView scrollBarIndicatorVisible="false">
    <FlexboxLayout
        class="home-screen-container"
        flexDirection="column"
        iosOverflowSafeArea="false">
        <StackLayout
            iosOverflowSafeArea="false"
            class="dashboard-section">
            <Label text="1 Carousel per screen"></Label>
            <Carousel
                class="carousel-list"
                [countPerScreen]="1"
                [carouselContent]="carouselContentItems">
            </Carousel>
        </StackLayout>
        <StackLayout
            iosOverflowSafeArea="false"
            class="dashboard-section">
            <Label text="2 Carousels per screen"></Label>
            <Carousel
                [gutter]="10"
                [carouselContent]="carouselContentItems">
            </Carousel>
        </StackLayout>
        <StackLayout
            iosOverflowSafeArea="false"
            class="dashboard-section">
            <Label text="3 Carousels per screen"></Label>
            <Carousel
                [countPerScreen]="3"
                [carouselContent]="carouselContentItems">
            </Carousel>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>
